
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Ceevee - Free Responsive HTML5/CSS3 Template</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/css1/default.css">
    <link rel="stylesheet" href="~/css1/layout.css">
    <link rel="stylesheet" href="~/css1/media-queries.css">
    <link rel="stylesheet" href="~/css1/magnific-popup.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="~/jss/modernizr.js"></script>

    <!-- Favicons
     ================================================== -->
    <link rel="shortcut icon" href="favicon.png">

</head>

<body>
    <div id="js-preloader" class="js-preloader loaded">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    

    @RenderBody()

    <footer>
        <!-- Grid container -->
        <div class="container p-2">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">CÔNG TY PJOBS</h5>

                    <p>
                        Cổng thông tin cung cấp các tin tuyển dụng việc làm của doanh nghiệp đến cá nhân. Yêu cầu cơ bản để các thiết kế website này hoạt động hiệu quả là thông tin chuẩn, chính xác và nhanh nhạy. Xin hãy tin tưởng trang web của chúng tôi!
                    </p>
                    <img src="~/images/jobpeople.jpg" style="width:400px">
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">LIÊN HỆ</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <p>Email: pjobscompany@gmail.com</p>
                        </li>
                        <li>
                            <p>SĐT 1: 090-619-4433</p>
                        </li>
                        <li>
                            <p>SĐT 2: 070-356-2459</p>
                        </li>
                        <li>
                            <p>Địa chỉ: Tầng 77 Tòa Nhà Bitexco 2 Hải Triều, Bến Nghé, Quận 1</p>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-0">PHƯƠNG TIỆN</h5>
                    <br />
                    <ul class="list-unstyled">
                        <li style="color:white"><a style="color:white; text-decoration:none" href="https://www.facebook.com/"><i class="fab fa-facebook-square fa-3x"></i></a></li>
                        <br />
                        <li style="color:white"><a style="color:white; text-decoration:none" href="https://workspace.google.com/intl/vi/"><i class="fab fa-google-plus-square fa-3x"></i></a></li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright:
            <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
    </footer>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="~/jss/jquery-1.10.2.min.js"><\/script>')</script>
    <script type="text/javascript" src="~/jss/jquery-migrate-1.2.1.min.js"></script>

    <script src="~/jss/jquery.flexslider.js"></script>
    <script src="~/jss/waypoints.js"></script>
    <script src="~/jss/jquery.fittext.js"></script>
    <script src="~/jss/magnific-popup.js"></script>
    <script src="~/jss/init.js"></script>
    <script src="~/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="~/js/scrollreveal.min.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/imgfix.min.js"></script>
    <script src="~/js/mixitup.js"></script>
    <script src="~/js/accordions.js"></script>

    <!-- Global Init -->
    <script src="~/js/custom.js"></script>
</body>
</html>