

@using System.Globalization
@{
    Layout = "_Layout1";
}
<body>
    <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="text-align:center">
                    <div class="error-template">
                        <h1>
                            Oops!
                        </h1>
                        <h2>
                            404 Not Found
                        </h2>
                        <div class="error-details">
                            Xin lỗi, bạn không thể truy cập vào trang này vì không đủ quyền hoặc lỗi trang!!!
                        </div>
                        <br/>
                        <a href="/home/index" class="btn btn-primary btn-lg">
                            Trở về
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </main>
</body>



<!-- ***** Fleet Ends ***** -->
<!-- jQuery -->
<script src="assets/js/jquery-2.1.0.min.js"></script>

<!-- Bootstrap -->
<script src="assets/js/popper.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<!-- Plugins -->
<script src="assets/js/scrollreveal.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<script src="assets/js/jquery.counterup.min.js"></script>
<script src="assets/js/imgfix.min.js"></script>
<script src="assets/js/mixitup.js"></script>
<script src="assets/js/accordions.js"></script>

<!-- Global Init -->
<script src="assets/js/custom.js"></script>
