 @model ThongTinLinhVuc

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@ViewBag.mess
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Quản lý lĩnh vực</h1>
                        </div>
                        @using (Html.BeginForm("SuaLinhVuc", "admin", FormMethod.Post))
                        {
                            
                                            <div class="form-group">
                                               
                                                @Html.TextBoxFor(m => m.TenLinhVuc)
                                            </div>

                                            <div class="form-group">
                                              
                                                @Html.HiddenFor(m => m.MaLinhVuc)
                                            </div>

                                      
                                       
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" id="form-submit" class="main-button">
                                                SAVE
                                            </button>
                        }
                    </div>
                </div><!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">

                    </div>

                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- Button trigger modal -->
        <!-- Modal -->
       
            <!-- THÊM BLOG -->
          
        </div>
</body>

